.Heading1 {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.text {
  background-color: #ACDAE9;
  padding: 10px 10px 10px 10px;
  display: flex;
  width: 100%;
}

.item {
  margin: 30px 30px;
}