.container {
    margin: 0px 0px;
  }
  
  .topnav {
    width: 100%;
    margin: 0px 0px;
    overflow: hidden;
    text-align: justify;
    background-color:rgba(255, 255, 255, 0.1);
  }
  
  .topnav a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px;
    margin: 0px 0px;
    width: 20%;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*X button*/
  .x {
    display: none;
  }
  
  .x1 {
    display: block;
  }
  
  /*button holder*/
  .resnav {
    width: 50px;
    height: 50px;
    display: none;
    position:fixed;
    z-index: 10;
    background-color: #ACDAE9;
    border-radius: 5px;
  }
  
  /*It will be goine when window is large enough*/
  .resnavbar1 {
    display: none
  }
  
  .resnavbar a {
    color:#f2f2f2;
    margin: 5px 5px;
    padding: 5px 5px;
  }
  
  .resnavbar1 a {
    color:#f2f2f2;
    margin: 5px 5px;
    padding: 5px 5px;
  }
  
  /*popup when button is clicked*/
  .resnavbar {
    float: right;
    display: none;
  }
  
  .topnav .icon {
    display: none;
  }
  
  /*hamburger button*/
  .ham {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
  
  /*hamburger will be gone*/
  .hel1 {
    display: none;
  }
  
  .ares {
    text-decoration: none;
  }
  .br {
    display: none;
  }

  /*responsive bar*/
  @media screen and (max-width: 40em) {
    .topnav {
      display : none;
    }
    .container {
      display: none;
    }
    .resnav {
      display : block;
      right :10px;
    }
    .resnavbar1 {
      backdrop-filter: blur(30px);
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 0px;
      bottom: 0px;
      float: right;
      width: 50%;
      height: 100%;
    }
    .br {
      display: block;
    }
  }