/* Sungwoong Park, sungwoong.park@stonybrook.edu */
/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
  /* --sidebar-width: 240px; */
  --text-color: rgb(50, 50, 50);
  --background-color: #ffffff;
  --light-background-color: #f4f4f4;
  --nav-bar-color: #ffffff;
  --selected-color: rgb(229, 241, 253);
  --action-text-color: #ffffff;
  --action-color: rgb(58, 99, 197);
  --border-color: darkgray;
  /* box-sizing:  content-box; */
}

body {
  font-size: 24px;
  background: url(Images/SUNYKorea_AcBldg.jpg);
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;
}

.block1 {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(58, 99, 197);
}

.block {
  display: flex;
  flex-direction: row;
  margin-top:0px;
  flex-wrap: wrap;
  background-color: rgb(58, 99, 197);
  width: 100%;
}

.Heading1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.item {
  margin: 30px 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(58, 99, 197);
}

